aws_region                 = ""
aws_access_key             = ""
aws_secret_key             = ""
create_iam_role            = false
f5xc_ce_iam_role_name      = "f5xc_ce_iam_role"
f5xc_ce_gateway_multi_nic  = false
f5xc_ce_assign_eip         = false
project_prefix             = ""
outside_security_group     = ""
inside_security_group      = ""
clustername                = ""
sitetoken                  = ""
ce_settings   = {
    "f5xc_ce_1" = { availability_zone = "", outside_subnet_arn = "", inside_subnet_arn = ""}
}
default_tags = {
    Owner = ""
    ves-io-creator-id = ""
}