aws_region             = ""
aws_access_key         = ""
aws_secret_key         = ""
ves-io-creator-id      = ""
az1                    = ""
az2                    = ""
az3                    = ""
project_prefix         = ""
az1_outside_subnet_id  = ""
az1_inside_subnet_id   = ""
az2_outside_subnet_id  = ""
az2_inside_subnet_id   = ""
az3_outside_subnet_id  = ""
az3_inside_subnet_id   = ""
outside_security_group = ""
inside_security_group  = ""
sitelatitude           = ""
sitelongitude          = ""
clustername            = ""
sitetoken              = ""